################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/User-MS/CopilotIndices/17.13.444.19527/CodeChunks.db
/.vs/User-MS/CopilotIndices/17.13.444.19527/SemanticSymbols.db
/.vs/User-MS/FileContentIndex/fbcf9182-8311-4bc2-900d-d88a15a30272.vsidx
/.vs/User-MS/v17/.wsuo
/.vs/User-MS/v17/DocumentLayout.json
/.vs/UserMS/CopilotIndices/17.13.444.19527/CodeChunks.db
/.vs/UserMS/CopilotIndices/17.13.444.19527/SemanticSymbols.db
/.vs/UserMS/FileContentIndex/3f465900-a292-4169-a99e-c5b219793fd6.vsidx
/.vs/UserMS/v17/.suo
/.vs/UserMS/v17/.wsuo
/.vs/UserMS/v17/DocumentLayout.backup.json
/.vs/UserMS/v17/DocumentLayout.json
/.vs/VSWorkspaceState.json
/UserMs/.vs/ProjectEvaluation/userms.metadata.v9.bin
/UserMs/.vs/ProjectEvaluation/userms.projects.v9.bin
/UserMs/.vs/ProjectEvaluation/userms.strings.v9.bin
/UserMs/.vs/UserMs/config/applicationhost.config
/UserMs/.vs/UserMs/CopilotIndices/17.13.444.19527/CodeChunks.db
/UserMs/.vs/UserMs/CopilotIndices/17.13.444.19527/CodeChunks.db-shm
/UserMs/.vs/UserMs/CopilotIndices/17.13.444.19527/CodeChunks.db-wal
/UserMs/.vs/UserMs/CopilotIndices/17.13.444.19527/SemanticSymbols.db
/UserMs/.vs/UserMs/CopilotIndices/17.13.444.19527/SemanticSymbols.db-shm
/UserMs/.vs/UserMs/CopilotIndices/17.13.444.19527/SemanticSymbols.db-wal
/UserMs/.vs/UserMs/DesignTimeBuild/.dtbcache.v2
/UserMs/.vs/UserMs/FileContentIndex/363ec98f-c874-4a19-9e5d-e39995b8ad4c.vsidx
/UserMs/.vs/UserMs/FileContentIndex/8ef48b8d-66af-43d4-b98f-ef5d861e12a6.vsidx
/UserMs/.vs/UserMs/FileContentIndex/9a9d34d1-19bb-4b1f-997b-c69913922e1a.vsidx
/UserMs/.vs/UserMs/FileContentIndex/ea4f6295-81dc-4846-8f8c-60aa41991b7a.vsidx
/UserMs/.vs/UserMs/FileContentIndex/ed22bb83-3801-43b7-8d08-635369b833d0.vsidx
/UserMs/.vs/UserMs/v17/.futdcache.v2
/UserMs/.vs/UserMs/v17/.suo
/UserMs/.vs/UserMs/v17/DocumentLayout.backup.json
